.displayErrors input:invalid {
    border-color: red;
}

.error {
    // opacity: 0;
    background-color: lightcoral;
    padding: 7px;
    margin-left: 15px;
    border-radius: 4px;
    color: white;
    border: 1px solid red;
    font-weight: bold;
}

.error.shown {
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 20px;

    &:focus {
        background-color: #ddd;
        outline: none;
    }
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    border: transparent;
    font-size: 14px;

    &:hover,
    &:active,
    &:focus {
        background-color: #595959;
        cursor: pointer;
    }
}
