table {
    border-collapse: collapse;
    width: 100%;

    th {
        background-color: #e5e5e5;
    }

    td, th {
        border: 1px solid #ccc;
        padding: 8px;
        min-width: 160px;
    }
}

@media only screen and (min-width: 800px) {
    table {
        td, th {
            min-width: 160px;
        }
    }

}
